.carousel{
  overflow: inherit;
  height:auto;
}
.carousel-inner{
/*  padding-top: 64px;*/
}

.item{
  height:auto;
}
.img-responsive{
  height:300px;
}
.infoStyle{
  width: 50%;
  display: inline-block;
}
.bodyStyle{
  padding-right: 5%;
  padding-left: 5%;
}


*, *:before, *:after {
    box-sizing: inherit;
    vertical-align: middle;
}
